* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif; }

body {
  background-color: rgba(160, 225, 235, 0.4); }

ul {
  padding-left: 0px;
  margin-bottom: 0px; }

/* HEADER STYLES */
.header {
  background-color: #cfcfed;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.logo {
  width: 200px;
  height: 100px;
  padding: 0px;
  margin-left: 20px; }

.header__icono {
  font-size: 32px;
  color: rgba(0, 0, 0, 0.308);
  text-decoration: none;
  display: none; }

.nav__item--oculto {
  display: none; }

.nav__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 19px; }

.nav__item {
  margin: 0px 15px; }

.nav__item:hover {
  border: 2px solid #EFF3F5;
  border-radius: 10px;
  padding: 5px 4px;
  margin: 0px 5px;
  font-weight: bold; }

/* Remove all text-decoration to the links inside the nav_item class thanks to the " > " */
.nav__item > a {
  text-decoration: none;
  color: black; }

/* FOOTER  STYLES */
.footer {
  display: flex;
  margin: 25px 100px 10px 100px; }

.footer_contac {
  width: 50%;
  padding-left: 100px; }

.footer_contac > h1 {
  font-size: 50px;
  margin-bottom: 10px; }

.footer_contac > p {
  margin-bottom: 10px; }

.footer_visitus {
  width: 50%;
  text-align: center; }

.footer_visitus > h1 {
  font-size: 50px; }

.finalFooter {
  background-color: rgba(207, 207, 237, 0.613);
  color: black; }

.finalFooter_logoRedes {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.finalFooter_folowus {
  margin-right: 25px; }

.finalFooter_folowus > p {
  font-size: 25px;
  margin-bottom: 10px; }

.finalFooter_folowus > ul {
  list-style: none; }

.finalFooter_folowus_facebook {
  display: flex;
  align-items: center; }

.finalFooter_folowus_facebook > img {
  width: 20px;
  height: 20px;
  margin-right: 10px; }

.finalFooter_folowus_facebook > a {
  color: black; }

.finalFooter_folowus_facebook > a:hover {
  text-decoration: underline; }

.finalFooter_copyright {
  text-align: center; }

.logoFooter {
  width: 200px; }

/* MEDIA QUERIES */
/* Movil */
@media screen and (max-width: 600px) {
  /* HEADER STYLES */
  .header {
    height: 80px; }
  .header__icono {
    display: block; }
  .logo {
    width: 100px;
    height: 50px;
    padding: 0px;
    margin-left: 10px; }
  .nav__list {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    height: 100%; }
  .nav {
    display: none;
    background-color: #f96ceb;
    position: fixed;
    z-index: 10000000000;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh; }
  .nav:target {
    display: block; }
  .nav__item--oculto {
    display: block; } }

/* MEDIA QUERIES */
/* Movil */
@media screen and (max-width: 600px) {
  /* FOOTER  STYLES */
  .footer {
    display: flex;
    flex-direction: column;
    margin: 25px 20px 10px 20px; }
  .footer_contac {
    width: 100%;
    text-align: center;
    padding-left: 0px; }
  .footer_contac > h1 {
    font-size: 30px; }
  .footer_visitus {
    width: 100%;
    text-align: center; }
  .footer_visitus > h1 {
    font-size: 30px;
    margin-top: 20px; }
  .finalFooter {
    background-color: #cfcfed;
    color: black; }
  .finalFooter_logoRedes {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .finalFooter_folowus > p {
    font-size: 20px; }
  .finalFooter_folowus > ul {
    list-style: none; }
  .finalFooter_folowus {
    margin-right: 25px; }
  .finalFooter_copyright {
    text-align: center; }
  .logoFooter {
    width: 150px; } }

/* MAIN STYLES */
.mainRooms {
  margin: 120px 100px 30px 100px; }

.mainRooms__cover-container {
  display: flex;
  width: 100%;
  justify-content: center; }

.mainRooms__cover {
  width: 100%;
  height: 350px; }

.mainRooms__intro-container {
  display: flex;
  justify-content: space-around;
  margin-top: 40px; }

.mainRooms__intro-ourRooms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: #03c8e6a5; }

.mainRooms__intro-ourRooms > h1 {
  margin-bottom: 20px; }

.mainRooms__intro-roomServices {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-left: 50px; }

.mainRooms__intro-roomServices > h2 {
  margin-right: 60px;
  margin-top: 70px; }

.mainRooms__rooms-container {
  margin-top: 30px; }

.mainRooms___rooms-item {
  display: flex;
  margin-bottom: 10px; }

.mainRooms__description {
  display: flex;
  background-color: #ead6cb;
  width: 50%;
  list-style: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px; }

.mainRooms__description > p {
  text-align: center;
  margin: 25px 10px; }

.slider {
  width: 50%;
  height: 200px;
  overflow: hidden; }

.slider ul {
  display: flex;
  animation: cambio 15s infinite alternate linear;
  width: 400%; }

.slider li {
  width: 100%;
  list-style: none; }

.slider img {
  width: 100%;
  height: 200px; }

@keyframes cambio {
  0% {
    margin-left: 0; }
  20% {
    margin-left: 0; }
  25% {
    margin-left: -100%; }
  45% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  70% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  100% {
    margin-left: -300%; } }

.mainRooms___rooms-item > li > h1 {
  font-size: 35px;
  margin-bottom: 25px; }

.mainRooms__rooms-container > h1 {
  font-size: 50px; }

.mainRooms__rooms-container > ul {
  margin-top: 25px; }

/* MEDIA QUERIES */
/* Movil */
@media screen and (max-width: 600px) {
  /* MAIN STYLES */
  .mainRooms {
    margin: 100px 20px 10px 20px; }
  .mainRooms__cover-container {
    display: flex;
    width: 100%;
    justify-content: center; }
  .mainRooms__cover {
    width: 100%;
    height: 250px; }
  .mainRooms__intro-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-direction: column; }
  .mainRooms__intro-ourRooms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #03c8e6a5;
    width: 100%; }
  .mainRooms__intro-ourRooms > h1 {
    margin-bottom: 20px;
    font-size: 25px; }
  .mainRooms__intro-roomServices {
    margin: 20px 20px 10px 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column; }
  .mainRooms__intro-roomServices > h2 {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px; }
  .mainRooms__rooms-container {
    margin-top: 30px;
    font-size: 20px;
    text-align: center; }
  .mainRooms___rooms-item {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column; }
  .mainRooms__description {
    display: flex;
    background-color: #ead6cb;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 0px; }
  .slider {
    width: 100%; }
  .mainRooms__description > h1 {
    font-size: 35px;
    margin-bottom: 2px;
    margin-top: 10px; }
  .mainRooms__description > p {
    margin: 15px 15px; }
  .mainRooms__description > strong {
    margin-bottom: 15px; }
  .mainRooms__rooms-container > h1 {
    font-size: 50px; }
  .mainRooms__rooms-container > ul {
    margin-top: 25px; } }
