* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

/* HEADER STYLES */
.header {
  background-color: #cfcfed;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.logo {
  width: 200px;
  height: 100px;
  padding: 0px;
  margin-left: 20px; }

.header__icono {
  font-size: 32px;
  color: rgba(0, 0, 0, 0.308);
  text-decoration: none;
  display: none; }

.nav__item--oculto {
  display: none; }

.nav__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 19px; }

.nav__item {
  margin-left: 18px; }

/* Remove all text-decoration to the links inside the nav_item class thanks to the " > " */
.nav__item > a {
  text-decoration: none;
  color: black; }

/* FOOTER  STYLES */
.footer {
  display: flex;
  margin: 25px 100px 10px 100px;
  background-color: rgba(164, 47, 207, 0.118); }

.footer_contac {
  width: 50%; }

.footer_contac > h1 {
  font-size: 50px; }

.footer_visitus {
  width: 50%;
  text-align: center; }

.footer_visitus > h1 {
  font-size: 50px; }

.finalFooter {
  background-color: #cfcfed;
  color: black; }

.finalFooter_logoRedes {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.finalFooter_folowus > p {
  font-size: 25px; }

.finalFooter_folowus > ul {
  list-style: none; }

.finalFooter_folowus {
  margin-right: 25px; }

.finalFooter_copyright {
  text-align: center; }

.logoFooter {
  width: 200px; }

/* MAIN STYLES */
.mainAboutUs {
  margin: 120px 100px 30px 100px; }

.mainAboutUs > h1 {
  font-size: 40px; }

.mainAboutUs__description {
  background-color: aquamarine;
  padding: 30px 10px;
  text-align: center; }

.realFooter {
  /* UPDATE WITH THIS CHANGE ALL PAGES */
  position: fixed;
  bottom: 0; }

/* MEDIA QUERIES */
/* Movil */
@media screen and (max-width: 600px) {
  /* HEADER STYLES */
  .header {
    height: 80px; }
  .header__icono {
    display: block; }
  .logo {
    width: 100px;
    height: 50px;
    padding: 0px;
    margin-left: 10px; }
  .nav__list {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    height: 100%; }
  .nav {
    display: none;
    background-color: #f96ceb;
    position: fixed;
    z-index: 10000000000;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh; }
  .nav:target {
    display: block; }
  .nav__item--oculto {
    display: block; }
  /* MAIN STYLES */
  .mainAboutUs {
    margin: 100px 20px 10px 20px; }
  .mainAboutUs > h1 {
    font-size: 50px;
    text-align: center; }
  .mainAboutUs__description {
    background-color: aquamarine;
    padding: 30px 10px;
    text-align: center; }
  /* FOOTER  STYLES */
  .realFooter {
    /* UPDATE WITH THIS CHANGE ALL PAGES */
    position: static;
    bottom: 0; }
  .footer {
    display: flex;
    flex-direction: column;
    margin: 25px 20px 10px 20px;
    background-color: rgba(164, 47, 207, 0.118); }
  .footer_contac {
    width: 100%;
    text-align: center; }
  .footer_contac > h1 {
    font-size: 50px; }
  .footer_visitus {
    width: 100%;
    text-align: center; }
  .footer_visitus > h1 {
    font-size: 50px; }
  .finalFooter {
    background-color: #cfcfed;
    color: black; }
  .finalFooter_logoRedes {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .finalFooter_folowus > p {
    font-size: 20px; }
  .finalFooter_folowus > ul {
    list-style: none; }
  .finalFooter_folowus {
    margin-right: 25px; }
  .finalFooter_copyright {
    text-align: center; }
  .logoFooter {
    width: 150px; } }
