@import "./partials/_base.scss";
@import "./partials/_header.scss";
@import "./partials/_footer.scss";
@import "./partials/_media-header.scss";
@import "./partials/_media-footer.scss";

/* MAIN STYLES */

.mainAboutUs {
  margin: 120px 100px 30px 100px;
}

.mainAboutUs > h1 {
  font-size: 40px;
}

.mainAboutUs__description {
  background-color: aquamarine;
  padding: 30px 10px;
  text-align: center;
}


.realFooter{
  position:fixed;
  bottom: 0;
  width: 100%;
}

/* MEDIA QUERIES */

/* Movil */
@media screen and (max-width:600px){

  /* MAIN STYLES */

  .mainAboutUs {
    margin: 100px 20px 10px 20px;
  }

  .mainAboutUs > h1 {
    font-size: 50px;
    text-align: center;
  }

  .mainAboutUs__description {
    background-color: aquamarine;
    padding: 30px 10px;
    text-align: center;
  }

  /* FOOTER  STYLES */

  .realFooter{
    position:static;
    bottom: 0;
  }

}

