@import "./partials/_base.scss";
@import "./partials/_header.scss";
@import "./partials/_footer.scss";
@import "./partials/_media-header.scss";
@import "./partials/_media-footer.scss";

/* MAIN STYLES */

.grid_experiences{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  margin: 120px 100px 30px 100px;
  column-gap: 5px;
  grid-template-areas:
  "hijo1 hijo2"
  ;
}

.mainExp__intro-bestExp{
  background-color: antiquewhite;
  grid-area: hijo1;
  height: 500px;

}

.mainExp__intro-bestExp > h1{
  margin: 20px;
}

.mainExp__intro-cover{ /* TO BE DEFINED PHOTOS IN CAROUSEL */
  grid-area: hijo2;
  @include sizes(100%, 500px);
}



/* MEDIA QUERIES */

/* Movil */
@media screen and (max-width:600px){

  /* MAIN STYLES */

  .grid_experiences{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    margin: 100px 20px 10px 20px;
    grid-template-areas: 
    "hijo1"
    "hijo2"
    ;
  }

  .mainExp__intro-bestExp{
    background-color: antiquewhite;
    height: 400px;
    grid-area: hijo1;
  }

  .mainExp__intro-bestExp > h1{
    margin: 20px;
  }

  .mainExp__intro-bestExp > p {
    margin: 20px;
    text-align: center;
  }

  .mainExp__intro-cover{ /* TO BE DEFINED PHOTOS IN CAROUSEL */
    grid-area: hijo2;
    width: 100%;
    height: 300px;

  }


}

