* {
  margin:0;
  padding: 0;
  box-sizing:border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgba(160, 225, 235, 0.4);
}

ul {
  padding-left: 0px;
  margin-bottom: 0px;
}

@mixin sizes($width, $height) {
  width: $width;
  height: $height;
}
