/* FOOTER  STYLES */

.footer{
  display: flex;
  margin: 25px 100px 10px 100px;
}

.footer_contac{
  width: 50%;
  padding-left: 100px;
}

.footer_contac  > h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.footer_contac  > p {
  margin-bottom: 10px;
}

.footer_visitus{
  width: 50%;
  text-align: center;
}

.footer_visitus  > h1 {
  font-size: 50px;
}

.footer_visitus  > iframe {
  @include sizes(300px, 200px);
  border: 0;
}

.finalFooter{
  background-color:rgba(207, 207, 237, 0.613);
  color: black;
}

.finalFooter_logoRedes{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.finalFooter_folowus {
  margin-right: 25px;
}

.finalFooter_folowus > p {
  font-size: 25px;
  margin-bottom: 10px;
}

.finalFooter_folowus > ul {
  list-style: none;
}

.finalFooter_folowus_facebook {
  display: flex;
  align-items: center;
}

.finalFooter_folowus_facebook > img {
  @include sizes(20px, 20px);
  margin-right: 10px;
}

.finalFooter_folowus_facebook > a {
  color: black;
}

.finalFooter_folowus_facebook > a:hover {
  text-decoration: underline;
}

.finalFooter_copyright{
  text-align: center;
}

.logoFooter{
  width: 200px;
}
